.playlistcard{
    width: 15rem;
    padding: 10px;
    margin: 0 var(--mb-0-75);
    margin-top: var(--mb-2-5);
    border-radius: 3px;
    border: 3px solid var(--primary-light);
}
.playlistcard-heading{
    font-size: var(--h3-font-size);
}
.playlistcard-delete{
    color: var(--primary);
    width: 10px !important;
    height: 10px !important;
    cursor: pointer;
    margin-right: var(--mb-0-5);
}
.playlistcard-delete:hover{
    color: var(--primary-darker);
}
.playlistcard-msg{
    color: var(--text-color-light);
    font-size: var(--normal-font-size);
}