@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

.header{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.header h1{
    font-family: var(--brand-font);
    font-size: var(--h1-font-size);
    color: var(--white-color);
}
.header .header-nav-icons{
    font-size: 2px !important;
    margin: 0 var(--mb-0-75);
    cursor: pointer;
}

.videopage-body .container{
    display: flex;
    margin: 0 2.5rem;
}
.videopage-body{
    margin-top: var(--mb-2-5);
}
/* .tabs-container{
    background-color: red;
    margin: var(--mb-1) auto;
} */
.category-tab{
    border: none;
    border-radius: 1.5rem;
    color: var(--white-color);
    background-color: var(--secondary-dark);
    box-shadow: var(--box-shadow);
    padding: 10px 1rem;
    margin: var(--mb-1);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}